<footer class="footer">
    <h1>Nexus Realms</h1>
    <p class="copyright">© 2020 Nexus Realms All Rights Reserved<br></p>
    <div class="social"><a href="#"></a><a href="#"></a><a href="#"></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="{% url 'index' %#overview">Overview</a></li>
        <li class="list-inline-item"><a href="{% url 'index' %#teammembers">Team Members</a></li>
        <li class="list-inline-item"><a href="{% url 'index' %#contactus">Contact Us</a></li>
    </ul>
</footer>
