{% extends 'base.html' %}

{% block title %}
<title>Policies | Nexus Realms</title>
{% endblock %}

{% block content %}
{% include 'navigation.html' %}
<div class="information">
  <div class="contents">
      <h1 class="text-center" style="margin-top: 2rem;/*margin-bottom: 2rem;*/">Privacy Policy</h1>
      <p><strong>Effective Date:</strong> July 10, 2020<br><br>Nexus Realms ("us", "we", or "our") operates the https://nexus-realms.net website (the "Service").<br><br>This page informs you of our policies regarding the collection, use, and disclosure
          of personal data when you use our Service and the choices that you have associated with that data. This Privacy Policy contains information about the types of data that is collected and recorded by Nexus Realms.<br><br>We use your data
          to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same
          meanings as in our Terms and Conditions, accessible from <a href="https://nexus-realms.net">https://nexus-realms.net</a></p>
      <h2>Consent</h2>
      <p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>
      <h2>Information Collection &amp; Use</h2>
      <p>We collect several different types of information for various purposes to improve our Service to you.</p>
      <h3>Personal Data</h3>
      <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point that we ask you to provide such information. Nexus Realms will never ask for private information
          such as passwords.<br><br>When you register for an account, we may ask for your contact information, including specific items such as name, company name, address, email address, and telephone number. Other personal information may be obtained
          by our Service depending on the given circumstances.<br><br>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address
          (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
      <h3>Legal Requirements</h3>
      <p>Nexus Realms may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
      <ul>
          <li>To comply with a legal obligation</li>
          <li>To protect and defend the rights or property of Nexus Realms</li>
          <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
          <li>To protect the personal safety of users of the Service or the public</li>
          <li>To protect against legal liability<br></li>
      </ul>
      <h2>How we use your information</h2>
      <p>Nexus Realms uses the collected data for various purposes:</p>
      <ul>
          <li>To provide and maintain the Service</li>
          <li>To notify you about changes to our Service</li>
          <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
          <li>To provide customer care and support</li>
          <li>To provide analysis or valuable information so that we can improve the Service</li>
          <li>To monitor the usage of the Service</li>
          <li>To detect, prevent and address technical issues</li>
      </ul>
      <h2>Log Files</h2>
      <p>Nexus Realms follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet
          protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose
          of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic info.</p>
      <h2>Cookies and Web Beacons</h2>
      <p>Like any other website, Nexus Realms uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users'
          experience by customizing our web page content based on visitors' browser type and/or other information. Nexus Realms will never use ‘cookies’ for malicious purposes.<br><br>For more general information on cookies, please read "What Are
          Cookies".</p>
      <h3>What Are Cookies</h3>
      <p>A cookie is a small text file that a website or app sends to a user's device. This text file collects information about user actions on your site.<br><br>Cookies store helpful information to enhance users' experiences with your site, and possibly
          to improve your ability to reconnect with them later.<br><br>Information collected by cookies can include the user's preferred language, device settings, browsing activities and other useful information.<br><br>Websites like Google use
          cookies to make ads more relevant to their users. They also track analytics such as counting the number of visitors to a page, locations of visitors, search preferences and so on. Other websites may have more malicious intentions.</p>
      <h3>Use of Cookies</h3>
      <p>Cookies generally are used to perform one or all of the following:</p>
      <ul>
          <li><strong>Authentication</strong>: Cookies help websites determine if a user is logged in, and then deliver the right experience and features to that unique user.</li>
          <li><strong>Security</strong>: Cookies help impose security measures on a website. They also help detect unusual and suspicious activities.</li>
          <li><strong>Advertising</strong>: Cookies deliver a better advertising experience for both users and advertisers. Cookies help connect advertisers to users who are most interested in their products based on the user's browsing history.</li>
          <li><strong>Performance</strong>: Cookies help your website learn how services work for different people and how to route traffic between servers.</li>
          <li><strong>Analytics and Research</strong>: Websites and apps use cookies to learn which of their services are most used. This helps determine what to improve, what to remove and what to leave the same.</li>
      </ul>
      <h2>Advertising Partners Privacy Policies</h2>
      <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Nexus Realms.<br><br>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective
          advertisements and links that appear on Nexus Realms, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising
          campaigns and/or to personalize the advertising content that you may see.<br><br>Note that Nexus Realms has no access to or control over cookies that are used by third-party advertisers.</p>
      <h2>Third Party Privacy Policies</h2>
      <p>Nexus Realms’ Privacy Policy does not apply to other advertisers or websites. Thus, we advise you to consult the respective Privacy Policies of these third-party ad servers for more detailed information; it may include their practices and
          instructions about how to opt-out of certain options.<br><br>You can choose to disable cookies through your personal browser options. To know more detailed information about cookie management with specific web browsers, it can be found
          at the browsers' respective websites.</p>
      <h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
      <p>Under the CCPA, among other rights, California consumers have the right to:</p>
      <ul>
          <li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</li>
          <li>Request that a business delete any personal data about the consumer that a business has collected.</li>
          <li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</li>
      </ul>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us directly.</p>
      <h2>GDPR Data Protection Rights</h2>
      <p>We would like to make sure that you are fully aware of all your data protection rights.<br><br>Every user is entitled to the following:<br></p>
      <ul>
          <li>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.<br></li>
          <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
          <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
          <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
          <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
          <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
          <li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
          <li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
      </ul>
      <h2>Children's Information</h2>
      <p>Our Service does not address anyone under the age of 13 ("Children").<br><br>We do not knowingly collect personally identifiable information from anyone under the age of 13. If you are a parent or guardian and you are aware that your Children
          has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.<br></p>
      <h2>Changes To This Privacy Policy</h2>
      <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br></p>
      <ul>
          <li>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and updating of the "effective date.”</li>
          <li>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted.</li>
      </ul>
      <h2>Contact Us</h2>
      <p>If you have additional questions or require more information, do not hesitate to contact us.<br><br>By visiting this page on our website: <a href="https://nexus-realms.net/#contactus">https://nexus-realms.net/#contactus</a><br></p>
  </div>
</div>
{% endblock %}
